<div id="personal">
  <div class="presentation">
    <%= image_tag "branca.jpg" %>
    <h1>Oi! 🙋🏻‍♀️ <br> Eu sou a Branca </h1>
  </div>

  <p>Engenheira de Produção em <strong>transição de carreira</strong> para o mundo da programação.</p>
  <p> À procura de uma oportunidade para iniciar na área tech, com bastante <strong>vontade e motivação</strong>.</p>
  <p>Recém-formada no bootcamp <strong>"Web Development"</strong> da <a href="https://www.lewagon.com/pt-BR/sao-paulo/web-development-course/full-time" target="_blank"> Le Wagon </a>, focado em Ruby on Rails, mas com uma base sólida de JavaScript, HTLM, CSS, SASS, POO, MVC, DOM, AJAX, Stimulus, Testes automatizados, TDD, Teste unitário, utilização de API, JSON, SQL, PostgreSQL, versionamento com GIT, Github, Heroku.</p>
  <p>Com 06 anos de experiência na área industrial, atuei com planejamento de produção realizando o gerenciamento de matéria prima, prazos, cronogramas e pessoas, mas a maior parte das minhas atuações foram nos departamentos de qualidade, trabalhando com certificações da empresa, do produto final e de matérias primas, e documentações a serem enviadas a clientes. </p>
  <p>Tenho facilidade em aprender coisas novas, trabalho bem em grupo, sou organizada, colaborativa e comunicativa. </p>
</div>

<div class="projects">
  <h1> Projetos ✨</h1>

  <h2 class="project-title">
    <%= image_tag "cade_o_tio_circulo_preto.png" %>
    Cadê o tio?
  </h2>

  <div class="project-description">
    <p>Geolocalização para condutores de transporte escolar</p>
  </div>

  <div class="project-full-description">
    <p> Mobile app desenvolvido em 9 dias em equipe, onde o condutor realiza o cadastro das crianças como ponto de embarque/desembarque, organizando rapidamente seu itinerário através do recurso de 'arrastar e soltar', gerando o percurso no mapa e possibilitando fazer o acompanhamento de sua geolocalização. </p>
  </div>

  <h2 class="project-title">
    <%= image_tag "setimo-andar-m.png" %>
    Sétimo Andar
  </h2>

  <div class="project-description">
    <p>Marketplace para venda de imóveis</p>
  </div>

  <div class="project-full-description">
    <p> Desenvolvido em 5 dias com trabalho em grupo, onde é possível criar anúncios de imóveis com fotos e descrição, e também realizar a compra de itens já anunciados. </p>
  </div>

  <h2 class="project-title">
    <%= image_tag "watch-list.jpg" %>
    Watch List
  </h2>

   <div class="project-description">
    <p>Criação de lista de filmes</p>
  </div>

  <div class="project-full-description">
    <p> Aplicação para criação de listas de filmes, contendo o resumo do filme, notas, avaliações e comentários. </p>
  </div>

  <h2 class="social">Redes Socias</h2>
  <ul class="list-inline d-inline-flex">
    <li>
      <a href="https://www.linkedin.com/in/branca-della-coletta/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/bdellacoletta" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/brancadellac/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/branca.dellacoletta/" target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </li>
  </ul>
</div>
