<div id="personal">
  <div class="presentation">
    <%= image_tag "branca.jpg" %>
    <h1>Oi! 🙋🏻‍♀️ <br> Eu sou a Branca </h1>
  </div>

  <p>Engenheira de Produção em <strong>transição de carreira</strong> para o mundo da programação.</p>
  <p> À procura de uma oportunidade para iniciar na área tech, com bastante <strong>vontade e motivação</strong>.</p>
  <p>Recém-formada no bootcamp <strong>"Web Development"</strong> da <a href="https://www.lewagon.com/pt-BR/sao-paulo/web-development-course/full-time" target="_blank"> Le Wagon </a>, focado em Ruby on Rails, mas com uma base sólida de JavaScript, HTLM, CSS, SASS, POO, MVC, DOM, AJAX, Stimulus, Testes automatizados, TDD, Teste unitário, utilização de API, JSON, SQL, PostgreSQL, versionamento com GIT, Github, Heroku.</p>
  <p>Com 06 anos de experiência na área industrial, atuei com planejamento de produção realizando o gerenciamento de matéria prima, prazos, cronogramas e pessoas, mas a maior parte das minhas atuações foram nos departamentos de qualidade, trabalhando com certificações da empresa, do produto final e de matérias primas, e documentações a serem enviadas a clientes. </p>
  <p>Tenho facilidade em aprender coisas novas, trabalho bem em grupo, sou organizada, colaborativa e comunicativa. </p>
</div>

<div class="projects">
  <h1> Projetos ✨</h1>

  <h2 class="project-title">
    <%= image_tag "cade_o_tio_circulo_preto.png" %>
    Cadê o tio?
  </h2>

  <div class="project-description">
    <p>Geolocalização para condutores de transporte escolar</p>
  </div>

  <h2 class="project-title">
    <%= image_tag "setimo-andar-m.png" %>
    Sétimo Andar
  </h2>

  <div class="project-description">
    <p>Marketplace para venda de imóveis</p>
  </div>

  <h2 class="project-title">
    <%= image_tag "watch-list.jpg" %>
    Watch List
  </h2>

   <div class="project-description">
    <p>Criação de lista de filmes</p>
  </div>

  <h2 class="social">Redes Socias</h2>
  <ul class="list-inline d-inline-flex">
    <li>
      <a href="https://www.linkedin.com/in/branca-della-coletta/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/bdellacoletta" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/brancadellac/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/branca.dellacoletta/" target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </li>
  </ul>
</div>
