#footer{
  width: 600px;
  height: 100px;
  margin: 0 auto;
  padding: 10px auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

#footer a{
  font-size: 30px;
  color: #1C658C;
}

#footer a:hover{
  color: #F10086;
}
