#personal {
  width: 600px;
  height: 655px;
  margin: 0 auto;
  padding: 10px auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

#personal a{
  background-color: #F10086;
  color: rgb(255, 255, 255);
  border-radius: 5%;
  padding: 10px;
  font-size: 18px;
}

#personal a:hover{
  color: #100cd3;
}
