.projects {
  width: 680px;
  margin: 20px 20px;
  padding: 10px auto;
  text-align: center;

  a {
    color: #F10086;
    font-size: 18px;
  }

  a:hover {
    color: #100cd3;
  }
}

.social {
  padding: 10px;
}

.project-title {
  color: #000000;
  font-size: 20px;

  img {
    height: 55px;
    border-radius: 50%;
  }
}
